In [ ]:
!pip install langchain, openai, python-dotenv, SQLAlchemy

In [ ]:
from dotenv import load_dotenv,find_dotenv
load_dotenv(find_dotenv())

True

In [ ]:
!pip install mysqlclient

In [ ]:
from sqlalchemy import create_engine
import sqlalchemy

print(sqlalchemy.__version__)
# dialect+driver://username:password@host:port/database
engine = create_engine("mysql://root:jakedivino@127.0.0.1/world")

2.0.10

In [ ]:
from langchain import OpenAI, SQLDatabase, SQLDatabaseChain

llm = OpenAI(temperature=0.8, verbose=True)

# Create an instance of SQLDatabaseAgent
db = SQLDatabase.from_uri("sqlite:///chinook.db")

db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, use_query_checker=True) # The query checker enables self-correction using the LLM.

db_chain.run("What are the columns in the albums table?")
db_chain.run("Show me the first 5 rows from the albums table.")
db_chain.run("How many albums are in the albums table?")

WARNING:langchain.callbacks.manager:Error in on_chain_start callback: 'name'

What are the columns in the albums table?
SQLQuery:SELECT "column_name" FROM "pragma_table_info"('albums');
SQLResult: [('column_name',), ('column_name',), ('column_name',)]
Answer:

WARNING:langchain.callbacks.manager:Error in on_chain_start callback: 'name'

The columns in the albums table are: AlbumId, Title, ArtistId.
> Finished chain.
Show me the first 5 rows from the albums table.
SQLQuery:SELECT "AlbumId", "Title", "ArtistId" FROM albums LIMIT 5;
SQLResult: [(1, 'For Those About To Rock We Salute You', 1), (2, 'Balls to the Wall', 2), (3, 'Restless and Wild', 2), (4, 'Let There Be Rock', 1), (5, 'Big Ones', 3)]
Answer:

WARNING:langchain.callbacks.manager:Error in on_chain_start callback: 'name'

The first 5 rows from the albums table are (1, 'For Those About To Rock We Salute You', 1), (2, 'Balls to the Wall', 2), (3, 'Restless and Wild', 2), (4, 'Let There Be Rock', 1), (5, 'Big Ones', 3).
> Finished chain.
How many albums are in the albums table?
SQLQuery:SELECT COUNT(*) as "Number of albums" FROM albums;
SQLResult: [(347,)]
Answer:There are 347 albums in the albums table.
> Finished chain.

'There are 347 albums in the albums table.'

In [ ]:
from langchain.prompts.prompt import PromptTemplate

_DEFAULT_TEMPLATE = """Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Use the following format:

Question: "Question here"
SQLQuery: "SQL Query to run"
SQLResult: "Result of the SQLQuery"
Answer: "Final answer here"

Only use the following tables:

{table_info}

If someone asks for the table foobar, they really mean the employee table.

Question: {input}"""
PROMPT = PromptTemplate(
    input_variables=["input", "table_info", "dialect"], template=_DEFAULT_TEMPLATE
)

# Placeholders
input_value = "What is the total number of tracks in the database?"
table_info_value = "albums, artists, customers, employees, genres, invoices, invoice_items, media_types, playlists, playlist_track, tracks"
dialect_value = "SQLite"

# Generate the prompt
prompt = PROMPT.generate(input=input_value, table_info=table_info_value, dialect=dialect_value)

print(prompt)

In [ ]:
db_chain = SQLDatabaseChain.from_llm(llm, db, prompt=PROMPT, verbose=True, use_query_checker=True)

db_chain.run("What is the total number of tracks in the database?")